AIGITHUB_ORCHESTRATOR_API_KEY=
AIGITHUB_ORCHESTRATOR_BASE_URL=
AIGITHUB_ORCHESTRATOR_MODEL=
AIGITHUB_ORCHESTRATOR_DISABLE_THINKING=true

AIGITHUB_WORKER_API_KEY=
AIGITHUB_WORKER_BASE_URL=
AIGITHUB_WORKER_MODEL=

GITHUB_TOKEN=
SPECX_CLI_PATH=
